/* Dialog Component Styles */

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    position: relative; /* Ensure relative positioning for absolute children */
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(166, 115, 177, 1);
    width: 90%; /* Adjusted to occupy 90% of the available width */
    max-width: 550px; /* Maximum width set for larger screens */
}

.dialog-content h2 {
    text-align: center;
    color: #333;
}

.upload_textbox {
    height: 35px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #EFEAF2;
    font-size: 14px;
    padding: 5px 15px;
    margin: 20px 0;
    box-sizing: border-box;
}

.uploadImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.uploadImage {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.upload_button {
    height: 35px;
    width: 80%;
    padding: 8px 16px;
    border: none;
    background-color:#6D2480;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: #803790;
    font-size: 24px;
    padding: 0;
}

.close-button:hover {
    color: #803790;
}
